.home-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}


.home-imag{
  background-image: url('../images/home/imag.png');
  background-size: contain;
  height: 100%;
  width: 63%;
  position: absolute;
  border-radius: 0 clamp(20px, 5vw, 80px) clamp(20px, 5vw, 80px) 0;
  z-index: -1;
}

.home-imag .overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* уровень затемнения */
  border-radius: 0 clamp(20px, 5vw, 80px) clamp(20px, 5vw, 80px) 0;
}

.home-menu {
  position: absolute;
  right: 5vw;
  z-index: 2;
  ul {
    display: flex;
    justify-content: space-between;
    padding: 1vh;
    width: 70vh;
    list-style-type: none;
    font-size: 1.25rem;
    font-family: 'Inter';
  }
  a {
  color: white;
  text-decoration: none;
  }
}

.main-screen {
  background-image: url('../images/home/Rectangle.png');
  border-radius: clamp(20px, 5vw, 80px) 0  0 clamp(20px, 5vw, 80px);
  background-color: black;
  position: relative;
  z-index: 2;
  background-size: cover;
  margin-top: 12%;
  padding: 4vw;
   width: 100%;
   display: flex;
   flex-direction: row;
   right: 0;
   transform: translateX(55%);


  .H1 {
  padding-top: 1%;
  padding-left: 2%;
  font-family: 'KyivTypeSans';
  font-size: 5rem;
  color: white;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
}
.H2 {
  max-width: 30vw;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  font-family: 'Inter';
  font-size: 2rem;
  color: rgb(255, 219, 187, 100);
  line-height: 1.3;
  .bold {
    font-weight: 600;
  }
  .thin {
    font-weight: 300;
  }
}
   .button {
    color: white;
    position: relative;
    background-color: rgba(114, 139, 173, 1);
    padding-top: 3vw;
    padding: 2%;
    width: 30vh ;
    font-family: 'Inter';
    font-size: 1.7rem;
    border-radius: 6vh;

  }
  .container {
    position: relative;
  }
  .line {
  width: 2px;
  height: 80%;
  background-color: white;
  position: relative;
  flex-shrink: 0;
  margin-left: 6vw;
  }
  .image{
  position: absolute;
  top: 80%;
  left: 20vw;
  transform: translateY(-50%);
  width: 15vh;
  height: 8vw;
  object-fit: cover;
  z-index: 10;
  }
}



@font-face {
  font-family: 'KyivTypeSans';
  src: url('../fonts/KyivTypeSans-Medium3.ttf') format('truetype');
  font-weight: 400;
}












